<div class="basic">
  <h2 class="fs-1 ">HTML Basics</h2>

  <div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-success" routerLink="/html/introduction">
      <i class="fa-solid fa-arrow-left-long"></i>
       Previous
    </a>
    <a class="btn btn-success">
       Next
       <i class="fa-solid fa-arrow-right-long"></i>
    </a>
  </div>

  <hr-line> 
    <p>Biz bu bo'limda HTML basic haqida ba'zi misollar orqali o'rganamiz</p>
    <p>Agar buni tushunish siz uchun biroz qiyinchilik tug'dirsa, xavotir olmang ularning har bir haqida yana batafsil to'xtalamiz</p>
  </hr-line>

</div>