<div class="basic">
  <h2 class="fs-1 ">HTML Basic Examples</h2>

  <div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-success" routerLink="/html/introduction">
      <i class="fa-solid fa-arrow-left-long"></i>
       Previous
    </a>
    <a class="btn btn-success">
       Next
       <i class="fa-solid fa-arrow-right-long"></i>
    </a>
  </div>

  <hr-line> 
    <p>Biz bu bo'limda HTML basic haqida ba'zi misollar orqali o'rganamiz</p>
    <p>Agar buni tushunish siz uchun biroz qiyinchilik tug'dirsa, xavotir olmang ularning har bir haqida yana batafsil to'xtalamiz</p>
  </hr-line>


  <div class="info mb-4">

    <h3>HTML Documents</h3>
    <p>Har qanday HTML dokument 
       <span class="text-danger">
         <span class="primary-right"><</span> !DOCTYPE html <span class="primary-left">></span>
      </span>
      nomli deklaratsiya bilan boshlanishi shart
    </p>

    <p>HTML dokumentning o'zi esa
      <span class="text-danger">
        <span class="primary-right"><</span> html <span class="primary-left">></span>
     </span>
     bilan boshlanadi va 
     <span class="text-danger">
      <span class="primary-right"><</span> /html <span class="primary-left">></span>
   </span>
      bilan tugaydi
   </p>

   <p>HTML dokumentning ko'rinadigan qismi esa
      <span class="text-danger">
       <span class="primary-right"><</span> body <span class="primary-left">></span>
     </span>
    va 
      <span class="text-danger">
        <span class="primary-right"><</span> /body <span class="primary-left">></span>
       </span>
    teglari orasida joylashadi
    </p>

  </div>

  <hr-line>
  <example [pageLink]="introExampleLink" >
    <html-base>
      <p class="text-danger">
        <span>
          <span class="primary-right"><</span>h1<span class="primary-left">></span>
        </span>
          <span class="text-dark">My first heading</span>
          <span>
            <span class="primary-right"><</span>/h1<span class="primary-left">></span>
          </span>
      </p>
      <p class="text-danger">
        <span>
          <span class="primary-right"><</span>p<span class="primary-left">></span>
        </span>
          <span class="text-dark">My first paragraph</span>
          <span>
            <span class="primary-right"><</span>/p<span class="primary-left">></span>
          </span>
      </p>
    </html-base>
  </example>
  </hr-line>
    <div class="m-4"></div>
    <hr-line class="mt-4">
        <h3>HTML Headings</h3>
        <p>HTML heading elementlari 6 ta
            Mos holda ular
            <span class="text-danger"><span class="primary-left"><</span> h1 <span class="primary-right">> </span></span> dan
            <span class="text-danger"><span class="primary-left"><</span> h6 <span class="primary-right">> </span></span>
            gacha bo'lgan teglar yordamida aniqlanadi
        </p>
        <p>
            <span class="text-danger"><span class="primary-left"><</span> h1 <span class="primary-right">> </span></span> eng katta
            <span class="text-danger"><span class="primary-left"><</span> h6 <span class="primary-right">> </span></span> eng kichik
            heading elementi sanaladi
        </p>
        <example [pageLink]="basicHeadingExample">
            <div class="content px-4 py-2">
                <p class="text-danger">
              <span>
                <span class="primary-right"><</span>h1<span class="primary-left">></span>
              </span>
                    <span class="text-dark">Bu heading 1</span>
                    <span>
                    <span class="primary-right"><</span>/h1<span class="primary-left">></span>
                </span>
                </p>
                <p class="text-danger">
              <span>
                <span class="primary-right"><</span>h2<span class="primary-left">></span>
              </span>
                    <span class="text-dark">Bu heading 2</span>
                    <span>
                    <span class="primary-right"><</span>/h2<span class="primary-left">></span>
                </span>
                </p>
                <p class="text-danger">
                  <span>
                    <span class="primary-right"><</span>h3<span class="primary-left">></span>
                  </span>
                    <span class="text-dark">Bu heading 3</span>
                    <span>
                    <span class="primary-right"><</span>/h3<span class="primary-left">></span>
                </span>
                </p>
            </div>
        </example>
    </hr-line>

   <hr-line class="mt-4">
       <h3>HTML Paragraphs</h3>
        <p>HTML paragraph elementi <span class="text-danger"><span class="primary-left"><</span> p <span class="primary-right">> </span></span>bilan aniqlanadi</p>
       <example [pageLink]="basicParagraphExample">
           <div class="content px-4 py-2">
               <p class="text-danger">
              <span>
                <span class="primary-right"><</span>p<span class="primary-left">></span>
              </span>
               <span class="text-dark">Bu paragraph</span>
               <span>
                    <span class="primary-right"><</span>/p<span class="primary-left">></span>
                </span>
               </p>
               <p class="text-danger">
              <span>
                <span class="primary-right"><</span>p<span class="primary-left">></span>
              </span>
                   <span class="text-dark">Bu yana boshqa paragraph</span>
                   <span>
                    <span class="primary-right"><</span>/p<span class="primary-left">></span>
                </span>
               </p>
           </div>
       </example>
   </hr-line>
</div>