<div class="basic">
    <h2 class="fs-1 ">HTML Introduction</h2>
    <prev-next [prev]="prev" [next]="next"></prev-next>
     <hr-line> 
       <p class="fs-3">HTML web sahifalar yaratish uchun standart markup tildir</p>
     </hr-line>
</div>

<hr-line>
    <example [pageLink]="basicExampleLink" >
    <html-base>
        <div class="basic-content my-2">
            <p class="text-danger">
                <span>
                    <span class="primary-right"><</span>h1<span class="primary-left">></span>
                </span>
                    <span class="text-dark">My first heading</span>
                    <span>
                    <span class="primary-right"><</span>/h1<span class="primary-left">></span>
                    </span>
            </p>

            <p class="text-danger">
                <span>
                    <span class="primary-right"><</span>p<span class="primary-left">></span>
                </span>
                    <span class="text-dark">My first paragraph</span>
                    <span>
                    <span class="primary-right"><</span>/p<span class="primary-left">></span>
                    </span>
            </p>
        </div>
    </html-base>
    </example>
</hr-line>