<div class="variables">
  <h1>JavaScript Variables</h1>
  <p>Odatda har qanday dastur albatta informatsiyalarga muhtoj bo'ladi. Misol uchun :</p>
  <p>1. Online magazin dastur - sotilgan va olib kelinadigan mahsulotlar informatsiyasiga muhtoj</p>
  <p>2. Chat dasturi - foydalanuvchilar va ularning o'rtasidani ma'lumotlarga muhtoj</p>
  <p>Tabiiy savol tug'iladi. Xo'sh bu ehtiyojni qanday ta'minlasak bo'ladi? Bunda bizga aynan ma'lumotlarni
    xotirada yig'ish uchun o'zgaruvchilar (variables) kerak bo'ladi.
  </p>

  <div class="alert alert-success">
    Demak, variables - ma'lumolarni yig'ishda ishlatilar ekan
  </div>

  <h3>JavaScriptda o'zgaruvchilarni e'lon qilish</h3>
  <hr-line>
    <h4>JS da 3 xil yo'l bilan o'zgaruvchilarni e'lon qilish mumkin</h4>
    <ul>
      <li *ngFor="let variable of variables"> {{ variable }}</li>
    </ul>
  </hr-line>

</div>