<div class="content px-3 py-2">
    <p class="text-danger"> <span class="primary-right"><</span> !DOCTYPE html <span class="primary-left">></span></p>
    <p class="text-danger"> <span class="primary-right"><</span> html<span class="primary-left">></span></p>
    <div *ngIf="isHeadVisible">
        <p class="text-danger"> <span class="primary-right"><</span> head<span class="primary-left">></span></p>
        <p class="text-danger">
          <span>
            <span class="primary-right"><</span>title<span class="primary-left">></span>
          </span>
            <span class="text-dark">Page title</span>
            <span>
              <span class="primary-right"><</span>/title<span class="primary-left">></span>
            </span>
        </p>
        <p class="text-danger"> <span class="primary-right"><</span> /head<span class="primary-left">></span></p>
    </div>
  
    <p class="text-danger"> <span class="primary-right"><</span> body<span class="primary-left">></span></p>
      
   <ng-content ></ng-content>
      
    <p class="text-danger"> <span class="primary-right"><</span> /body<span class="primary-left">></span></p>
    <p class="text-danger"> <span class="primary-right"><</span> /html<span class="primary-left">></span></p>
  </div>